<?xml version="1.0" encoding="utf-8"?>
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
  <Product Id="*" Name="cys (CYSJavis Terminal)" Language="1033" Version="0.12.14"
           Manufacturer="CYS" UpgradeCode="8B7BA455-D8E8-4997-BB27-766B928C66F5">
    <Package InstallerVersion="200" Compressed="yes" InstallScope="perMachine"/>
    <Media Id="1" Cabinet="aiterm.cab" EmbedCab="yes"/>
    <Directory Id="TARGETDIR" Name="SourceDir">
      <Directory Id="ProgramFiles64Folder">
        <Directory Id="INSTALLDIR" Name="cys (CYSJavis Terminal)">
          <Component Id="MainExecutable" Guid="7494B3F8-B58B-49E1-B095-BDE28A42FADF">
            <File Id="cysd.exe" Name="cysd.exe" Source="../target/x86_64-pc-windows-gnu/release/cysd.exe"/>
            <File Id="cys.exe" Name="cys.exe" Source="../target/x86_64-pc-windows-gnu/release/cys.exe"/>
            <Environment Id="UpdatePath" Name="PATH" Value="[INSTALLDIR]" Permanent="no" Part="last" Action="set" System="yes"/>
          </Component>
        </Directory>
      </Directory>
    </Directory>
    <Feature Id="DefaultFeature" Level="1">
      <ComponentRef Id="MainExecutable"/>
    </Feature>
  </Product>
</Wix>
